body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; /* Adjust based on your preference */
    margin: auto;
}

.question-text {
    flex: 1;
    margin-right: 20px; /* Adds some space between the text and the form */
}

.options-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns buttons to the left */
}

.choice-button, .hint {
    width: 100%; /* Full width within the form */
    margin-bottom: 10px;
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.choice-button:hover {
    background-color: #2980b9;
}
.choice-button.selected {
    background-color: #0069b1;
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.submit {
    background-color: #27ae60; /* Changed to a green color for a 'go' feel */
    color: white;
    padding: 15px 30px; /* Larger padding for a bigger button */
    font-size: 18px; /* Larger font size for better readability */
    border-radius: 6px; /* Rounded corners for a smoother look */
    border: none;
    cursor: pointer;
    width: auto; /* Adjust width as needed, or use full width for emphasis */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Deeper shadow for a 3D effect */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Smooth transitions for interactive feedback */
}

.submit:hover {
    background-color: #2ecc71; /* A lighter green on hover for visual feedback */
    transform: translateY(-2px); /* Slight raise effect on hover */
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.4); /* Increased shadow on hover for more depth */
}


.hint {
    background-color: #f39c12; /* Changed to a green color for a 'go' feel */
    color: white;
    padding: 15px 30px; /* Larger padding for a bigger button */
    font-size: 18px; /* Larger font size for better readability */
    border-radius: 6px; /* Rounded corners for a smoother look */
    border: none;
    cursor: pointer;
    width: auto; /* Adjust width as needed, or use full width for emphasis */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Deeper shadow for a 3D effect */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Smooth transitions for interactive feedback */
}

.hint:hover {
    background-color: #d35400; /* A lighter green on hover for visual feedback */
    transform: translateY(-2px); /* Slight raise effect on hover */
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.4); /* Increased shadow on hover for more depth */
}




