<!DOCTYPE html>
<html lang="en" xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='QuestionStyle.css') }}">
</head>
<body>
<div class="container">
    <div class="question-section">
        <div class="question-text">
            <h1>{{ question }}</h1>
        </div>
        <img src="https://img.freepik.com/free-vector/colorful-science-objects-icons-vector-set_1308-131708.jpg" alt="Relevant Description" class="question-image">
    </div>

    <div class="options-form">
        <form action="{{ url_for('question') }}" method="post">
            {% for choice in choices %}
            <button type="button" class="choice-button" onclick="selectAnswer(this, '{{ choice }}');">
                {{ choice }}
            </button>
            {% endfor %}
            <input type="hidden" id="selected-answer" name="answer" required>
            <div style="text-align: center;">
            <button type="submit" class="submit">Submit Answer</button>

            <button type="button" class="hint" onclick="alert('Here is a hint for the question!');">Hint</button>
            </div>
        </form>
    </div>
</div>
<script>
    function selectAnswer(selectedButton, choiceValue) {
        document.querySelectorAll('.choice-button').forEach(button => {
            button.classList.remove('selected');
        });
        selectedButton.classList.add('selected');
        document.getElementById('selected-answer').value = choiceValue;
    }
</script>
</body>
</html>
